.about-page {
  min-height: 70vh;

  .row1 {
    display: flex;
    align-items: center;

    .paragraph {
      font-size: 25px;
      font-weight: 100;
    }

    .who::after {
      content: "WHO";
      height: 100%;
      width: auto;
      position: relative;
      font-size: 250px;
      color: rgba($color-darker, 0.15);
      margin-left: -430px;
      left: 90%;
    }
  }

  .row2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    .paragraph {
      font-size: 25px;
      font-weight: 100;
    }

    .what::after {
      content: "WHAT";
      height: 100%;
      width: auto;
      position: relative;
      font-size: 250px;
      color: rgba($color-darker, 0.15);
      margin-left: -430px;
      left: 90%;
      bottom: 15px;
    }
  }

  .row3 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .paragraph {
      font-size: 25px;
      font-weight: 100;
    }

    .why::after {
      content: "WHY";
      height: 100%;
      width: auto;
      position: relative;
      font-size: 250px;
      color: rgba($color-darker, 0.15);
      margin-left: -430px;
      left: 90%;
      bottom: 20px;
    }
  }
}
